<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hola! <h1><span id="nombre"></span></h1>
    <script>
        document.body.onload = obtenernombre;
        function obtenernombre(){
            var session = window.sessionStorage;
            nuevo = session.getItem("Alumno:");
            document.getElementById("nombre").innerText = nuevo;
        }
    </script>
</body>
</html>
